@font-face {
  font-family: 'Impact Label';
  src: url('/img/Impact_Label_Reversed.ttf');
}

html, body {
  font-size: 16px;
  font-family: 'Crete Round', serif;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

a:link {
  color: #333;
  text-decoration: none;
}

a:active, a:hover {
  color: #bcd5d1;
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #2d3a42;
  color: #bcd5d1;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  order: 0;
}

header .banner {
  padding: 0.5vw;
  font-size: 2rem;
  font-family: 'Impact Label', cursive;
  text-align: center;
  background: #4b87b7;
  color: white;
}

.frames {
  order: 1;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.5vw;
  text-align: center;
  background: #eeeeee;
  /* background: #fae5de; */
  /* background: linear-gradient(to right, rgba(180,178,175,1) 0%,rgba(234,217,210,1) 25%,rgba(220,217,210,1) 75%,rgba(180,178,175,1) 100%); */
}

.frames .frame {
  display: inline-flex;
  flex-direction: column;
  justify-self: center;
}

.item {
  width: 24rem;
  flex: 1;
}
@media screen and (max-width: 400px) {
  .item {
    width: 100%;
    height: auto;
  }
}

.item.excuse {
  color: #933d3e;
  font-size: 1.75rem;
  padding: 2vw 0 1vw;
}

.item.meme {
  order: 1;
}

.item.meme img {
  max-width: 400px;
  height: auto;
}
@media screen and (max-width: 400px) {
  .item.meme img {
    width: 100%;
  }
}

.item.footnote {
  order: 2;
  color: #933d3e;
  font-size: 1rem;
  padding: 0.5vw 0 1.25vw;
  text-overflow: ellipsis;
}

.item.buttons {
  order: 3;
  margin: 1vw 0;
}

.item.buttons .quip {
  display: inline-block;
  text-align: center;
  background: white;
  color: #222;
  font-family: 'Crete Round', serif;
  font-size: 0.75rem;
  padding: 1vw;
  margin: 0 1vw;
  width: 7.5 rem;
  border-radius: 3vw;
  border: 0.5vw solid #4b87b7;
}
@media screen and (min-width: 800px) {
  .item.buttons .quip {
    width: 150px;
    border: 6px solid #4b87b7;
  }
}

.item.buttons .quip:hover {
  background: #4b87b7;
  border: 0.5vw solid #4b87b7;
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2), 0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}
@media screen and (min-width: 800px) {
  .item.buttons .quip:hover {
      border: 6px solid #4b87b7;
  }
}

.item.buttons .quip:active {
  background: #1e5a82;
}

.item.social {
  order: 4;
  margin: 1vw 0 0;
}

.item.social img {
  margin: 0.5vw 0.5rem 0;
  height: 2rem;
}

.links_to_things {
  order: 2;
  background: #933d3e;
  padding: 1.25vw;
}

.links_to_things .banner {
  background: none;
}
.links_to_things .resources {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 400px) {
  .links_to_things .resources {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.links_to_things .resources .resource {
  display: flex;
  margin: 0.5vw;
  padding: 0.5vw 0 0.5vw;
  font-size: 1em;
}
.links_to_things .resources .resource.left {
  justify-self: end;
}
.links_to_things .resources .resource.right {
  justify-self: start;
}
@media screen and (max-width: 400px) {
  .links_to_things .resources .resource.left, .links_to_things .resources .resource.right {
    justify-self: center;
  }
}

.res_btn {
  color: #ddd;
  font-family: 'Crete Round', serif;
  font-size: 0.75rem;
  color: #222;
  padding: 1vw 1vw;
  background: white;
  border-radius: 2vw;
  border: 0.2vw solid #483A3A;
  display: inline-block;
  width: 8rem;
  text-align: center;
}

.res_btn:hover {
  background: #4b87b7;
  border: 0.2vw solid #4b87b7;
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2), 0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

.res_btn:active {
  background: #1e5a82;
}


.footer {
  order: 3;
  display: block;
  margin: 0;
  background: #2d3a42;
  height: 4vw;
}

.share {
  color: lightgray;
  padding: 0.5rem;
}

.share a:link {
  color: lightblue;
  text-decoration: none;
  float: left;
}
.share a:link:hover {
  color: white;
}

.links {
  width: 100%;
  display: block;
}
.links p a {
  font-size: 0.75rem;
  float: left;
}
.links .credits {
  width: 40%;
  text-align: right;
  font-size: .66rem;
  float: right;
}
