@font-face {
  font-family: 'Impact Label';
  src: url('img/Impact_Label_Reversed.ttf');
}

html {
    font-size: 16px;
    font-family: 'Crete Round', serif;
    @media (max-width: 1024px) { font-size: 12px; }
    @media (max-width: 720px) { font-size: 10px; }
    @media (max-width: 320px) { font-size: 8px; }
}

a:link {
  color: #333;
  text-decoration: none;
}

a:active, a:hover {
  color: #bcd5d1;
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #2d3a42;
  color: #bcd5d1;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  order: 0;
}

header .banner {
  padding: 0.5vw;
  font-size: 4vw;
  font-family: 'Impact Label', cursive;
  text-align: center;
  background: #4b87b7;
  color: white;
}

.frames {
  order: 1;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.5vw;
  text-align: center;
/*   background: #dcd9d2; */
  background: linear-gradient(to right, rgba(180,178,175,1) 0%,rgba(220,217,210,1) 25%,rgba(220,217,210,1) 75%,rgba(180,178,175,1) 100%); 
  flex-grow: 1; 
}

.frames .frame {
  display: inline-flex;
  flex-direction: column;
  flex: 1
}

.frames .frame.future, .frames .frame.past {
  display: none;
}

.item {
  width: 400px;
  flex: 1;
}

.item.excuse {
  color: #933d3e;
  font-size: 2vw;
  padding: 2vw 0 0.75vw;
}

.item.meme {
  order: 1;
}

.item.meme img {
  max-width: 400px;
  height: auto;
}

.item.footnote {
  order: 2;
  color: #933d3e;
  font-size: 1.75vw;
  padding: 0.5vw 0 1.5vw;
  font-style: italic;
  max-width: 100%;
  text-overflow: ellipsis;
}

.item.buttons {
  order: 3;
  margin: 1.5vw 0;
}

.item.social {
  order: 4;
  margin: 1vw 0 0;
}

.item.social img {
  margin: 0.5vw 0.5vw 0;
  height: 4vw;
}

.links_to_things {
  order: 2;
  background: #933d3e;
  padding: 1vw;
}

.links_to_things a {
  color: #ddd;
  font-family: 'Crete Round', serif;
  font-size: 1.5vw;
  color: #222;
  padding: 0.5vw 4vw;
  background: white;
  border-radius: 2vw;
  border: 0.2vw solid #483A3A;
}

.links_to_things a:hover {
  background: #4b87b7;
  border: 2px solid #4b87b7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

.links_to_things a:active {
  background: #1e5a82;
}
.quip {
  color: #ddd;
  font-family: 'Crete Round', serif;
  font-size: 1.5vw;
  color: #222;
  padding: 1vw 3vw;
  background: white;
  border-radius: 2vw;
  border: 0.5vw solid #4b87b7;
  margin: 0 1vw;
}

.quip:hover {
  background: #4b87b7;
  border: 0.5vw solid #4b87b7;
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2), 0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

.quip:active {
  background: #1e5a82;
}

.links_to_things .banner {
  background: none;
}
.links_to_things .resources {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}
.links_to_things .resources .resource {
  display: flex;
  margin: 0.5vw 0;
  justify-content: center;
  font-size: 1em;
  font-style: italic;
}

.footer {
  order: 3;
  display: block;
  margin: 0;
  background: #2d3a42;
  height: 4vw;
}

.share {
  color: lightgray;
  padding: 0 1vw;
}

.share a:link {
  color: lightblue;
  text-decoration: none;
  float: left;
}
.share a:link:hover {
  color: white;
}

.links {
  width: 100%;
  display: block;
}
.links p a {
  font-size: 1vw;
  float: left;
}
.links .credits {
  font-size: .875vw;
  float: right;
}
